@inject IStringLocalizer<Resource> localizer

<div class="row align-items-center culture-selector">
    <div class="col-5">
    @if(CurrentCulture == "pl")
        {
            <Button class="flag-button" Type="ButtonType.Button" @onclick="ChangeLanguage"><img class="flag-icon" src="swedishflag.png" /></Button>
        } 
        else
        {
            <Button class="flag-button" Type="ButtonType.Button" @onclick="ChangeLanguage"><img class="flag-icon" src="polishflag.png" /></Button>
        }
    </div>
</div>
